<section>
  <!-- <article>
    <h3>Interpolação / Interpolation</h3>
    <p>String renderizada com interpolação: {{ url }}</p>
    <p>O resultado de 1 + 1 é: {{ 1 + 1 }}</p>
    <p>O resultado de 1 + 1 não é: {{ 1 + 1 + getValor() }} </p>
    <p>Curso de Angular e gosto do curso: {{ cursoAngular && getCurtirCurso() }}</p>
  </article>
  <article>
    <h3>Property binding</h3>
    <img src="{{ urlImagem }}" />
    <img [src]="urlImagem" />
    <img bind-src="urlImagem" />
  </article>

  <article>
    <h3>Class e Style Binding</h3>
    <div>
      Selecione uma classe:
      <select #classe (change)="0">
        <option value="alert-success">Success</option>
        <option value="alert-warning">Warning</option>
        <option value="alert-danger">Danger</option>
        <option value="alert-info">Info</option>
      </select>
      <br><br>

      <div class="alert {{ classe.value }}">
        Texto colorido conforme o valor do combobox.
      </div>

      <div class="alert alert-danger"
        [style.display]="classe.value == 'alert-danger' ? 'block' : 'none'">
        Texto que só aparece quando a classe danger é selecionada.
      </div>

      <div class="alert" role="alert"
        [class.alert-success]="classe.value == 'alert-success'">Success</div>
      <div class="alert" role="alert"
        [class.alert-info]="classe.value == 'alert-info'">Info</div>
      <div class="alert" role="alert"
        [class.alert-warning]="classe.value == 'alert-warning'">Warning</div>
      <div class="alert" role="alert"
        [class.alert-danger]="classe.value == 'alert-danger'">Danger</div>
    </div>
  </article> -->

  <!-- <article>
    <h3>Event Binding</h3>
    <div>
      <button class="btn btn-primary" (click)="botaoClicado()">Click me!</button>
      <br>
      <br>
      <input type="text" 
        (keyup)="onKeyUp($event)" 
        (keyup.enter)="salvarValor(campoInput.value)"
        (blur)="salvarValor(campoInput.value)"
        #campoInput
      />
      <br>
      <p>Valor atual: {{ valorAtual }}</p>
      <p>Valor salvo: {{ valorSalvo }}</p>

      <br>
      <span 
        (mouseover)="onMouseOverOut()"
        (mouseout)="onMouseOverOut()"
        [class.highlight]="isMouseOver"
      >Passe o mouse aqui</span>
    </div>
  </article> -->

  <!-- <app-meu-form></app-meu-form> -->

  <article>
    <h3>Input/Output Properties</h3>

    <app-curso [nome]="nomeDoCurso"></app-curso>
    <app-contador [valor]="valorInicial"
      (mudouValor)="onMudouValor($event)"
    ></app-contador>
  </article>
</section>
